.page-footer {
  background: #e8cbc0; 
  background: -webkit-linear-gradient(
    to top,
    #636fa4,
    #e4d1cb
  ); 
  background: linear-gradient(
    to top,
    #636fa4,
    #e2cec7
  ); 
  padding-bottom: 0px;
  margin-bottom: 0;
}
.elephant {
  max-width: 120px;
  border-radius: 50%;
}
.page-footer li {
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.page-footer li a{
 color: black !important;
}

.linkedin{
   max-width: 10px !important;
}
.icon{
  border-radius: 50%;
}